### Imports

In [28]:
import keras.losses
import pandas as pd
import os

In [29]:
import importlib
import My_PythonPackage.nlp_utils as nlp_utils
importlib.reload(nlp_utils)

In [30]:
os.getcwd()

'C:\\Users\\guimi\\Documents\\Python_Projects\\DataScience\\NLP\\Text_classification'

### Importing datasets

In [31]:
df_train_raw = pd.read_csv('../../Datasets/nlp-getting-started/train.csv')
df_test_raw = pd.read_csv('../../Datasets/nlp-getting-started/test.csv')

In [32]:
df_train_raw.sample(20)

,id,keyword,location,text,target
2809,4041,disaster,"Calgary, AB",The @rbcinsurance quote website = disaster. Tr...,0
5476,7815,quarantine,NaN,Reddit Will Now Quarantine Offensive Content h...,0
5493,7839,quarantine,London,Reddit updates content policy promises to quar...,0
5144,7335,nuclear%20reactor,World,Finnish ministers: Fennovoima nuclear reactor ...,1
4905,6981,massacre,NaN,Sousse beach massacre linked to Tunis museum a...,1
6819,9766,trapped,central chazifornia,salute to all the kids still trapped in adult ...,0
912,1319,bloody,PH,Friday supposed to be a happy day but it's a b...,0
840,1219,blizzard,Ontario Canada,@TCGReno just hard reset my Xbox,0
1093,1579,bombed,"Dundas, Ontario",Jays rocking #MLB @JoeyBats19 just bombed one ...,0
4924,7013,mayhem,"Lynchburg, VA",Anyone else think that Stephen sounds like And...,0
6105,8717,sinking,"Michigan, USA",Û¢Û¢If your lost &amp; alone or your sinking...,0
6171,8801,sirens,"Nomad, USA",Fuck Sleeping With Sirens.,0
1469,2117,catastrophe,NaN,@gemmahentsch @megynkelly @DLoesch I can not e...,0
3823,5439,first%20responders,Aberdeenshire,US wants future first responders to be more hi...,0
6694,9591,thunder,NaN,My brother is crying cause the thunder lmao,0
4215,5988,hazardous,USA,#Taiwan Grace: expect that large rocks trees m...,1
1852,2663,crush,NaN,Being bestfriends with your high school crush?...,0
7460,10676,wounds,?Gangsta OC / MV RP; 18+.?,@IcyMagistrate ÛÓher upper armÛÒ those /frig...,1
778,1126,blew%20up,wherever the $$$ at,Bitch done blew my shit up,0
525,759,avalanche,UK,Musician Kalle Mattson Recreates 34 Classic Al...,0

In [33]:
print((df_train_raw.target == 1).sum())
print((df_train_raw.target == 0).sum())

3271
4342

### Data Preprocessing

In [34]:
import re
import string

def remove_URL(text):
    url = re.compile(r'https?://\S+|www\.\S+')
    return url.sub(r'',text)

def remove_punct(text):
    table = str.maketrans('','',string.punctuation)
    return text.translate(table)

In [35]:
df_train = df_train_raw.copy()
df_test = df_test_raw.copy()

df_train['text'] = df_train['text'].map(lambda x: remove_URL(x))
df_train['text'] = df_train['text'].map(lambda x: remove_punct(x))
df_train['text'] = df_train['text'].map(lambda x: x.lower())

df_test['text'] = df_test['text'].map(lambda x: remove_URL(x))
df_test['text'] = df_test['text'].map(lambda x: remove_punct(x))
df_test['text'] = df_test['text'].map(lambda x: x.lower())

In [36]:
df_train.tail(20)

,id,keyword,location,text,target
7593,10848,NaN,NaN,i just heard a really loud bang and everyone i...,0
7594,10849,NaN,NaN,a gas thing just exploded and i heard screams ...,1
7595,10850,NaN,NaN,nws flash flood warning continued for shelby c...,1
7596,10851,NaN,NaN,rt livingsafely nws issues severe thunderstorm...,1
7597,10852,NaN,NaN,mh370 aircraft debris found on la reunion ...,1
7598,10853,NaN,NaN,fatherofthree lost control of car after overta...,1
7599,10854,NaN,NaN,13 earthquake in 9km ssw of anza california ip...,1
7600,10855,NaN,NaN,evacuation order lifted for town of roosevelt,1
7601,10859,NaN,NaN,breaking la refugio oil spill may have been co...,1
7602,10860,NaN,NaN,a siren just went off and it wasnt the forney ...,1
7603,10862,NaN,NaN,officials say a quarantine is in place at an a...,1
7604,10863,NaN,NaN,worldnews fallen powerlines on glink tram upda...,1
7605,10864,NaN,NaN,on the flip side im at walmart and there is a ...,1
7606,10866,NaN,NaN,suicide bomber kills 15 in saudi security site...,1
7607,10867,NaN,NaN,stormchase violent record breaking ef5 el reno...,1
7608,10869,NaN,NaN,two giant cranes holding a bridge collapse int...,1
7609,10870,NaN,NaN,ariaahrary thetawniest the out of control wild...,1
7610,10871,NaN,NaN,m194 0104 utc5km s of volcano hawaii,1
7611,10872,NaN,NaN,police investigating after an ebike collided w...,1
7612,10873,NaN,NaN,the latest more homes razed by northern califo...,1

In [37]:
stop_words = nlp_utils.usingStopwords('en')
df_train['text'] = df_train['text'].map(lambda x: nlp_utils.removeStopwords(x,stop_words))
df_test['text'] = df_test['text'].map(lambda x: nlp_utils.removeStopwords(x,stop_words))

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\guimi\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [38]:
df_train.tail(20)

,id,keyword,location,text,target
7593,10848,NaN,NaN,heard really loud bang everyone asleep great,0
7594,10849,NaN,NaN,gas thing exploded heard screams whole street ...,1
7595,10850,NaN,NaN,nws flash flood warning continued shelby count...,1
7596,10851,NaN,NaN,rt livingsafely nws issues severe thunderstorm...,1
7597,10852,NaN,NaN,mh370 aircraft debris found la reunion missing...,1
7598,10853,NaN,NaN,fatherofthree lost control car overtaking coll...,1
7599,10854,NaN,NaN,13 earthquake 9km ssw anza california iphone u...,1
7600,10855,NaN,NaN,evacuation order lifted town roosevelt,1
7601,10859,NaN,NaN,breaking la refugio oil spill may costlier big...,1
7602,10860,NaN,NaN,siren went wasnt forney tornado warning,1
7603,10862,NaN,NaN,officials say quarantine place alabama home po...,1
7604,10863,NaN,NaN,worldnews fallen powerlines glink tram update ...,1
7605,10864,NaN,NaN,flip side im walmart bomb everyone evacuate st...,1
7606,10866,NaN,NaN,suicide bomber kills 15 saudi security site mo...,1
7607,10867,NaN,NaN,stormchase violent record breaking ef5 el reno...,1
7608,10869,NaN,NaN,two giant cranes holding bridge collapse nearb...,1
7609,10870,NaN,NaN,ariaahrary thetawniest control wild fires cali...,1
7610,10871,NaN,NaN,m194 0104 utc5km volcano hawaii,1
7611,10872,NaN,NaN,police investigating ebike collided car little...,1
7612,10873,NaN,NaN,latest homes razed northern california wildfir...,1

### Selecting variables for model

In [39]:
X = df_train.text
y = df_train.target

### Splitting data into train and test

In [40]:
from sklearn.model_selection import train_test_split
X_train, X_val, y_train, y_val = train_test_split(X, y, train_size=0.8, random_state=42)

### Vocabulary

In [41]:
tokens = []
termos = {}
for text in X:
    for token in text.split():
        tokens.append(token)
        if token in termos:
            termos[token] += 1
        else:
            termos[token] = 1
vocab_size = len(termos)
vocab_size

17971

In [42]:
# get 5 words with highest frequency from termos
sorted(termos.items(), key=lambda x: x[1], reverse=True)[:5]

[('like', 345), ('im', 299), ('amp', 298), ('fire', 250), ('get', 229)]

### Train Numericalização

In [43]:
from keras.preprocessing.text import Tokenizer
from keras_preprocessing.sequence import pad_sequences

In [44]:
tokenizer = Tokenizer(num_words=vocab_size)
tokenizer.fit_on_texts(X_train)
word2index = tokenizer.word_index
train_sequences = tokenizer.texts_to_sequences(X_train)

In [45]:
max_len = nlp_utils.findMaxLen(train_sequences)
max_len

25

### Train padding

In [46]:
train_padded = pad_sequences(train_sequences, maxlen=max_len, padding='post', truncating='post')

### Validation Numericalization and Padding

In [47]:
val_sequences = tokenizer.texts_to_sequences(X_val)
val_padded = pad_sequences(val_sequences, maxlen=max_len, padding='post', truncating='post')

In [48]:
# print(X_train[0])
print(train_sequences[0])
print(train_padded[0])

[5625, 3710, 2254, 76, 339, 127, 50, 1908, 3711, 1016, 149, 3712, 3713]
[5625 3710 2254   76  339  127   50 1908 3711 1016  149 3712 3713    0
    0    0    0    0    0    0    0    0    0    0    0]

### RNN model

In [49]:
from keras.models import Sequential
from keras.layers import Embedding, LSTM, Dense, Dropout, Bidirectional
from keras.optimizers import Adam
from keras.losses import BinaryCrossentropy

In [50]:
model = Sequential([
    Embedding(input_dim=vocab_size, output_dim=32, input_length=max_len),
    LSTM(64, dropout=0.1),
    Dense(1, activation='sigmoid')
])
model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 embedding_1 (Embedding)     (None, 25, 32)            575072

 lstm_1 (LSTM)               (None, 64)                24832

 dense_1 (Dense)             (None, 1)                 65

=================================================================
Total params: 599,969
Trainable params: 599,969
Non-trainable params: 0
_________________________________________________________________

In [51]:
loss = BinaryCrossentropy(from_logits=False)
optim = Adam(learning_rate=0.001)
metrics = ['accuracy']
model.compile(loss=loss, optimizer=optim, metrics=metrics)
model.fit(train_padded, y_train, epochs=20, validation_data=(val_padded, y_val),verbose=2)

Epoch 1/20
191/191 - 6s - loss: 0.5671 - accuracy: 0.6941 - val_loss: 0.4531 - val_accuracy: 0.7997 - 6s/epoch - 33ms/step
Epoch 2/20
191/191 - 4s - loss: 0.3044 - accuracy: 0.8829 - val_loss: 0.5010 - val_accuracy: 0.7919 - 4s/epoch - 21ms/step
Epoch 3/20
191/191 - 4s - loss: 0.1586 - accuracy: 0.9466 - val_loss: 0.6691 - val_accuracy: 0.7623 - 4s/epoch - 21ms/step
Epoch 4/20
191/191 - 4s - loss: 0.1088 - accuracy: 0.9662 - val_loss: 0.7811 - val_accuracy: 0.7643 - 4s/epoch - 20ms/step
Epoch 5/20
191/191 - 4s - loss: 0.0832 - accuracy: 0.9772 - val_loss: 0.6429 - val_accuracy: 0.7610 - 4s/epoch - 19ms/step
Epoch 6/20
191/191 - 4s - loss: 0.0725 - accuracy: 0.9810 - val_loss: 0.7756 - val_accuracy: 0.7754 - 4s/epoch - 19ms/step
Epoch 7/20
191/191 - 4s - loss: 0.0624 - accuracy: 0.9811 - val_loss: 0.6420 - val_accuracy: 0.7623 - 4s/epoch - 19ms/step
Epoch 8/20
191/191 - 3s - loss: 0.0539 - accuracy: 0.9828 - val_loss: 0.9388 - val_accuracy: 0.7754 - 3s/epoch - 18ms/step
Epoch 9/20
191/191 - 4s - loss: 0.0472 - accuracy: 0.9831 - val_loss: 1.2760 - val_accuracy: 0.7623 - 4s/epoch - 19ms/step
Epoch 10/20
191/191 - 4s - loss: 0.0429 - accuracy: 0.9828 - val_loss: 1.2099 - val_accuracy: 0.7656 - 4s/epoch - 19ms/step
Epoch 11/20
191/191 - 4s - loss: 0.0312 - accuracy: 0.9849 - val_loss: 1.5939 - val_accuracy: 0.7656 - 4s/epoch - 19ms/step
Epoch 12/20
191/191 - 4s - loss: 0.0322 - accuracy: 0.9852 - val_loss: 1.1323 - val_accuracy: 0.7623 - 4s/epoch - 21ms/step
Epoch 13/20
191/191 - 4s - loss: 0.0300 - accuracy: 0.9857 - val_loss: 1.1861 - val_accuracy: 0.7748 - 4s/epoch - 19ms/step
Epoch 14/20
191/191 - 4s - loss: 0.0256 - accuracy: 0.9856 - val_loss: 1.6101 - val_accuracy: 0.7603 - 4s/epoch - 19ms/step
Epoch 15/20
191/191 - 4s - loss: 0.0263 - accuracy: 0.9865 - val_loss: 1.3313 - val_accuracy: 0.7557 - 4s/epoch - 18ms/step
Epoch 16/20
191/191 - 4s - loss: 0.0282 - accuracy: 0.9854 - val_loss: 1.1788 - val_accuracy: 0.7636 - 4s/epoch - 19ms/step
Epoch 17/20
191/191 - 4s - loss: 0.0336 - accuracy: 0.9854 - val_loss: 1.3080 - val_accuracy: 0.7630 - 4s/epoch - 19ms/step
Epoch 18/20
191/191 - 4s - loss: 0.0284 - accuracy: 0.9842 - val_loss: 1.1630 - val_accuracy: 0.7479 - 4s/epoch - 19ms/step
Epoch 19/20
191/191 - 4s - loss: 0.0306 - accuracy: 0.9837 - val_loss: 1.4057 - val_accuracy: 0.7571 - 4s/epoch - 19ms/step
Epoch 20/20
191/191 - 4s - loss: 0.0276 - accuracy: 0.9867 - val_loss: 1.5638 - val_accuracy: 0.7393 - 4s/epoch - 19ms/step

### Predictions

In [87]:
X_test = df_test.text
test_sequences = tokenizer.texts_to_sequences(X_test)
test_padded = pad_sequences(test_sequences, maxlen=max_len, padding='post', truncating='post')

In [89]:
index2word = {}
for key in word2index:
    index2word[word2index[key]] = key

text = []
for index in test_sequences[0]:
    text.append(index2word[index])
    # type(index)
text

['happened', 'terrible', 'car', 'crash']

In [90]:
predictions = model.predict(test_padded)

102/102 [==============================] - 0s 5ms/step

In [91]:
predictions

array([[0.23070061],
       [0.9997521 ],
       [0.9997464 ],
       ...,
       [0.99978197],
       [0.0514433 ],
       [0.9997755 ]], dtype=float32)

### Pre Processing

In [53]:
# pattern = re.compile(r'https?://\S+|www\.\S+')
# for t in df_train.text:
#     matches = pattern.findall(t)
#     for match in matches:
#         print(t)
#         print(match)
#         print(pattern.sub())